In [21]:
#Lab1: Write a Pandas program to detect missing values of a given DataFrame.

import pandas as pd
import numpy as np
df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45,75.29,3045.6],
'ord_date':['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

missing_values = df.isna().sum()     #identifies the missing values and counts missing value in each column 
print("Original Order Dataframe: \n\n",df)
print("\nMissing values of the said dataframe: \n\n",missing_values)

Original Order Dataframe:

      ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

Missing values of the said dataframe:

 ord_no         4
purch_amt      0
ord_date       1
customer_id    0
salesman_id    3
dtype: int64

In [11]:
#Lab2: Write a Pandas program to drop the rows where at least one element is missing in a given DataFrame.

df = pd.DataFrame({
'ord_no':[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45,75.29,3045.6],
'ord_date':['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
'salesman_id':[5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})
print("Original Orders Dataframe: \n")
print(df)
print("\nDrops the rows where at least one element is missing:\n")
df_cleaned = df.dropna()        #used to remove/drop missing values
print(df_cleaned)

Original Orders Dataframe:

     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

Drops the rows where at least one element is missing:

    ord_no  purch_amt    ord_date  customer_id  salesman_id
0  70001.0     150.50  2012-10-05         3002       5002.0
5  70005.0    2400.60  2012-07-27         3001       5001.0
8  70003.0    2480.40  2012-10-10         3003       5003.0
9  70012.0     250.45  2012-06-27         3002       5002.0

In [22]:
#Lab3: Write a Pandas program to drop the rows where all elements are missing in a given DataFrame.
    
df = pd.DataFrame({'ord_no':[np.nan,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':[np.nan,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45,75.29,3045.6],
'ord_date':[np.nan,'2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':[np.nan,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001]})
print("Original Orders Dataframe: \n\n",df)
df_cleaned = df.dropna(how='all')       #removes data if all row values are null
print("\nDrops the rows where all elements are missing:\n\n",df_cleaned)

Original Orders Dataframe:

      ord_no  purch_amt    ord_date  customer_id
0       NaN        NaN         NaN          NaN
1       NaN     270.65  2012-09-10       3001.0
2   70002.0      65.26         NaN       3001.0
3   70004.0     110.50  2012-08-17       3003.0
4       NaN     948.50  2012-09-10       3002.0
5   70005.0    2400.60  2012-07-27       3001.0
6       NaN    5760.00  2012-09-10       3001.0
7   70010.0    1983.43  2012-10-10       3004.0
8   70003.0    2480.40  2012-10-10       3003.0
9   70012.0     250.45  2012-06-27       3002.0
10      NaN      75.29  2012-08-17       3001.0
11  70013.0    3045.60  2012-04-25       3001.0

Drops the rows where all elements are missing:

      ord_no  purch_amt    ord_date  customer_id
1       NaN     270.65  2012-09-10       3001.0
2   70002.0      65.26         NaN       3001.0
3   70004.0     110.50  2012-08-17       3003.0
4       NaN     948.50  2012-09-10       3002.0
5   70005.0    2400.60  2012-07-27       3001.0
6       NaN    5760.00  2012-09-10       3001.0
7   70010.0    1983.43  2012-10-10       3004.0
8   70003.0    2480.40  2012-10-10       3003.0
9   70012.0     250.45  2012-06-27       3002.0
10      NaN      75.29  2012-08-17       3001.0
11  70013.0    3045.60  2012-04-25       3001.0

In [20]:
#Lab4: Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values.

df = pd.DataFrame({
'ord_no':[np.nan,np.nan,70002,np.nan,np.nan,70005,np.nan,70010,70003,70012,np.nan,np.nan],
'purch_amt':[np.nan,270.65,65.26,np.nan,948.5,2400.6,5760,1983.43,2480.4,250.45,75.29,np.nan],
'ord_date':[np.nan,'2012-09-10',np.nan,np.nan,'2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17',np.nan],
'customer_id':[np.nan,3001,3001,np.nan,3002,3001,3001,3004,3003,3002,3001,np.nan]})
print("Original Orders Dataframe: \n\n",df)
df_cleaned = df.dropna(subset=['ord_no', 'purch_amt', 'ord_date'])     #data will be removed only from the specified column
print("\nDrops the rows where specific columns elements are missing:\n\n",df_cleaned)

Original Orders Dataframe:

      ord_no  purch_amt    ord_date  customer_id
0       NaN        NaN         NaN          NaN
1       NaN     270.65  2012-09-10       3001.0
2   70002.0      65.26         NaN       3001.0
3       NaN        NaN         NaN          NaN
4       NaN     948.50  2012-09-10       3002.0
5   70005.0    2400.60  2012-07-27       3001.0
6       NaN    5760.00  2012-09-10       3001.0
7   70010.0    1983.43  2012-10-10       3004.0
8   70003.0    2480.40  2012-10-10       3003.0
9   70012.0     250.45  2012-06-27       3002.0
10      NaN      75.29  2012-08-17       3001.0
11      NaN        NaN         NaN          NaN

Drops the rows where specific columns elements are missing:

     ord_no  purch_amt    ord_date  customer_id
5  70005.0    2400.60  2012-07-27       3001.0
7  70010.0    1983.43  2012-10-10       3004.0
8  70003.0    2480.40  2012-10-10       3003.0
9  70012.0     250.45  2012-06-27       3002.0

In [25]:
#ChatGPT Exercise
#Scenario:Analyzing Real Estate Data
#Suppose you have a dummy dataset with real estate property listings. The data contains information about property prices,
#square footage, the number of bedrooms and bathrooms, and other details. You want to perform data cleaning like Remove rows
#with missing values, Remove duplicate and then save the cleaned data to a CSV file. Create a ChatGPT prompt to generate the code for this scenario.
#Based on the code generated, ask ChatGPT to give the conclusion/inference.
#Note. You can provide the data to ChatGPT in the form of a list or dictionary or ask it to use sample data.

import pandas as pd
import numpy as np

# Sample data
data = {
    'price': [250000, 300000, np.nan, 250000, 400000],
    'square_footage': [1500, 2000, 1800, 1500, np.nan],
    'bedrooms': [3, 4, 3, 3, 5],
    'bathrooms': [2, 3, 2, 2, 4],
    'location': ['Downtown', 'Suburb', 'Downtown', 'Downtown', 'Suburb']
}

df = pd.DataFrame(data)
df_cleaned = df.dropna()                 #Removing rows with any missing values
df_cleaned = df_cleaned.drop_duplicates()        #Removing duplicate rows
df_cleaned.to_csv('cleaned_real_estate_data.csv', index=False)
print("Original data:\n\n",df)
print("\nData cleaning is complete. The cleaned data has been saved to 'cleaned_real_estate_data.csv'.")
print("Displaying the cleaned data:\n\n",df_cleaned)

Original data:

       price  square_footage  bedrooms  bathrooms  location
0  250000.0          1500.0         3          2  Downtown
1  300000.0          2000.0         4          3    Suburb
2       NaN          1800.0         3          2  Downtown
3  250000.0          1500.0         3          2  Downtown
4  400000.0             NaN         5          4    Suburb

Data cleaning is complete. The cleaned data has been saved to 'cleaned_real_estate_data.csv'.
Displaying the cleaned data:

       price  square_footage  bedrooms  bathrooms  location
0  250000.0          1500.0         3          2  Downtown
1  300000.0          2000.0         4          3    Suburb