In [ ]:
#ILT-4 Lab - List, Dictionary, Tuples, Set
#Assignment:

In [1]:
#1. Write a Python program to sum all the items in a list.

numbers = [10, 20, 30, 40, 50]  
total_sum = sum(numbers)
print(f"The sum of all items in the list is: {total_sum}")

The sum of all items in the list is: 150

In [2]:
#2. Write a Python program to get the largest and smallest number from a list without builtin functions

numbers = [10, 20, 4, 45, 99, -10]  
if len(numbers) == 0:
    raise ValueError("The list is empty. Cannot determine the largest and smallest numbers.")

largest = numbers[0]
smallest = numbers[0]

# Iterating through the list to find the largest and smallest numbers
for num in numbers:
    if num > largest:
        largest = num
    if num < smallest:
        smallest = num

print(f"The largest number in the list is: {largest}")
print(f"The smallest number in the list is: {smallest}")

The largest number in the list is: 99
The smallest number in the list is: -10

In [3]:
#3. Write a Python program to find duplicate values from a list and display those.

numbers = [1, 2, 3, 4, 5, 2, 3, 6, 7, 8, 8, 9, 1]  

seen = set()                # Initializing a set to keep track of seen numbers and a set for duplicates
duplicates = set()

# Iterating through the list to find duplicates
for num in numbers:
    if num in seen:
        duplicates.add(num)             # If the number is already in seen, it's a duplicate
    else:                         
        seen.add(num)                       # Otherwise, add the number to seen

if duplicates:
    print("Duplicate values in the list are:", sorted(duplicates))
else:
    print("No duplicates found.")

Duplicate values in the list are: [1, 2, 3, 8]

In [4]:
#4. Write a Python program to split a given list into two parts where the length of the first part of the list is given.
#Original list:
#[1, 1, 2, 3, 4, 4, 5, 1]
#Length of the first part of the list: 3
#Splitted the said list into two parts:
#([1, 1, 2], [3, 4, 4, 5, 1])

# Define the original list and the length of the first part
original_list = [1, 1, 2, 3, 4, 4, 5, 1]
length_of_first_part = 3

# Split the list into two parts
first_part = original_list[:length_of_first_part]
second_part = original_list[length_of_first_part:]

print("Original list:")
print(original_list)
print(f"Length of the first part of the list: {length_of_first_part}")
print("Splitted the said list into two parts:")
print((first_part, second_part))

Original list:
[1, 1, 2, 3, 4, 4, 5, 1]
Length of the first part of the list: 3
Splitted the said list into two parts:
([1, 1, 2], [3, 4, 4, 5, 1])

In [5]:
#5. Write a Python program to traverse a given list in reverse order, and print the elements with the original index.
#Original list:
#['red', 'green', 'white', 'black']
#Traverse the said list in reverse order:
#black
#white
#green
#red


original_list = ['red', 'green', 'white', 'black']

# Traverse the list in reverse order and print elements with their original indices
print("Traverse the said list in reverse order:")
for index in range(len(original_list) - 1, -1, -1):
    print(original_list[index])

Traverse the said list in reverse order:
black
white
green
red

In [ ]:
#Assignment:

In [6]:
#1. Write a Python program and calculate the mean of the below dictionary.
#test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}
#Output: 6.2


test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}

# Extract the values from the dictionary
values = test_dict.values()
mean = sum(values) / len(values)              # Calculating the mean

print(f"The mean of the dictionary values is: {mean:.1f}")

The mean of the dictionary values is: 6.2

In [7]:
#2.Write a Python script to concatenate the following dictionaries to create a new one.
#Sample Dictionary :
#dic1={1:10, 2:20}
#dic2={3:30, 4:40}
#dic3={5:50,6:60}
#Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}


dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

# Concatenate the dictionaries using dictionary unpacking
merged_dict = {**dic1, **dic2, **dic3}

print("Concatenated dictionary:", merged_dict)

Concatenated dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [8]:
#3.Write a Python program to get the key, value and item in a dictionary.
#input:dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
#Output:
#Key 	Value
#1	10
#2	20
#3	30
#4	40
#5	50
#6	60


dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print("Key\tValue")

# Iterate over the dictionary and print each key and value
for key, value in dict_num.items():
    print(f"{key}\t{value}")

Key	Value
1	10
2	20
3	30
4	40
5	50
6	60

In [9]:
#4.Write a Python program to get the key, value and item in a dictionary.
#Input: input_dict = {1: 10, 2: 20, 3:None, 4: 40, 5: None, 6: 60}
#Output:
#dict with empty items Dropped :
#{1:10,2:40,4:40,6:60}

input_dict = {1: 10, 2: 20, 3: None, 4: 40, 5: None, 6: 60}

# Remove key-value pairs with None values
filtered_dict = {key: value for key, value in input_dict.items() if value is not None}
print("dict with empty items Dropped :")
print(filtered_dict)

dict with empty items Dropped :
{1: 10, 2: 20, 4: 40, 6: 60}

In [10]:
#1. Write a Python program to find the number of times 4 appears in the tuple.
#Input:
#tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )
#Output: 3

tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)
value_to_count = 4             # Defining the value to count
count = tuplex.count(value_to_count)          # Counting the occurrences of the value in the tuple
print(count)

3

In [11]:
#2.Write a Python program to convert a list to a tuple.
#Input: listx = [5, 10, 7, 4, 15, 3]
#Output: (5, 10, 7, 4, 15, 3)


listx = [5, 10, 7, 4, 15, 3]
tuplex = tuple(listx)          # Converting the list to a tuple
print(tuplex)

(5, 10, 7, 4, 15, 3)

In [12]:
#3. Write a Python program to calculate the sum of the numbers in a given tuple.
#Input: tuples_list = [(1, 2), (3, 4), (5, 6)]
#Output:
#sum of tuple is : 21 

tuples_list = [(1, 2), (3, 4), (5, 6)]
total_sum = sum(num for tup in tuples_list for num in tup)        # Flattening the list of tuples and calculate the sum
print(f"sum of tuple is : {total_sum}")

sum of tuple is : 21

In [13]:
#4.Write a python program and iterate the given tuples


employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

employees = [employee1, employee2, employee3]
print("Employee Records:\n")

# Iterate through each employee tuple and print the details
for employee in employees:
    name, emp_id, department, salary = employee
    print(f"Name : {name}")
    print(f"Employee ID : {emp_id}")
    print(f"Department : {department}")
    print(f"Salary : {salary}\n")

Employee Records:

Name : John Doe
Employee ID : 101
Department : Human Resources
Salary : 60000

Name : Alice Smith
Employee ID : 102
Department : Marketing
Salary : 55000

Name : Bob Johnson
Employee ID : 103
Department : Engineering
Salary : 75000

In [14]:
#Assignment:
#1. Write a Python program to Get Only unique items from two sets.


set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Get the union of the two sets
unique_items = set1.union(set2)
print(unique_items)

{70, 40, 10, 50, 20, 60, 30}

In [16]:
#2. Write a Python program to Return a set of elements present in Set A or B, but not both.


set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Compute the symmetric difference
symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)

{20, 70, 10, 60}

In [17]:
#3. Write a Python program to Check if two sets have any elements in common. If yes, display the common elements.


set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# Compute the intersection of the two sets
common_elements = set1.intersection(set2)

# Check if there are any common elements and print them
if common_elements:
    print(common_elements)
else:
    print("No common elements")

{10}

In [18]:
#4. Write a Python program to Remove items from set1 that are not common to both set1 and set2.


set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Compute the intersection of the two sets
common_elements = set1.intersection(set2)

# Update set1 to keep only the common elements
set1 &= common_elements
print(set1)

{40, 50, 30}