In [48]:
#Creating series

import pandas as pd
# Months in a year
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November', 'December']
# Monthly sales data for a product (example data)
sales_data = [12000, 13500, 14200, 12800, 14000, 15500, 16200, 15800, 16500,17800, 18500, 17200]
# Create a Pandas Series with months as the index
sales_series = pd.Series(sales_data, index=months, name='Monthly Sales (USD)')
print(sales_series)

January      12000
February     13500
March        14200
April        12800
May          14000
June         15500
July         16200
August       15800
September    16500
October      17800
November     18500
December     17200
Name: Monthly Sales (USD), dtype: int64

In [49]:
#Creating Dataframe

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
# Create a DataFrame from a dictionary
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

In [50]:
#Adding a new column

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28]}
df = pd.DataFrame(data)
print("Before Adding Column\n")
print(df)

df['City'] = ['New York', 'Los Angeles', 'Chicago', 'Houston']           #Adding a new column "City" with values
print("\nAfter Adding Column\n")
print(df)

Before Adding Column

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28

After Adding Column

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

In [51]:
#Adding multiple columns

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
'Age': [25, 30, 35, 28],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}
df = pd.DataFrame(data)

print("Initial DataFrame:\n")
print(df)

new_columns = {                                                         #Creating data for the new columns
'Gender': ['Female', 'Male', 'Male', 'Male'],
'Grade': ['A', 'B', 'C', 'B']
}

df['Gender'] = new_columns['Gender']                                #Adding the new columns to the DataFrame
df['Grade'] = new_columns['Grade']

print("\nDataFrame after adding new columns:\n")
print(df)


df.insert(1,'Marks',[88,93,57,78])                       #Adding column at a specific index
print()
print(df)

Initial DataFrame:

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston

DataFrame after adding new columns:

      Name  Age         City  Gender Grade
0    Alice   25     New York  Female     A
1      Bob   30  Los Angeles    Male     B
2  Charlie   35      Chicago    Male     C
3    David   28      Houston    Male     B

      Name  Marks  Age         City  Gender Grade
0    Alice     88   25     New York  Female     A
1      Bob     93   30  Los Angeles    Male     B
2  Charlie     57   35      Chicago    Male     C
3    David     78   28      Houston    Male     B

In [52]:
#Adding a new row

data = {'Name': ['Anjali', 'Chhavi', 'Kajal', 'David'],
'Age': [20, 21, 25, 28],
'City': ['Ghaziabad', 'Bulandshahar', 'Lucknow', 'Noida']}
dataframe = pd.DataFrame(data)

print("Initial DataFrame:\n")
print(dataframe)

new_row = pd.DataFrame([{'Name': 'Divyanshi', 'Age': 20, 'City': 'Delhi'},
{'Name': 'Avanshi', 'Age': 22, 'City': 'Bulandshahr'},
{'Name': 'Rupesh', 'Age': 21, 'City': 'Delhi'}])

print()
print(new_row)
dataframe2 = pd.concat([dataframe, new_row], ignore_index=True)   #Adding multiple rows and ignore_index for adding it list wise

print("\nDataFrame after adding a new row:\n")
print(dataframe2)

Initial DataFrame:

     Name  Age          City
0  Anjali   20     Ghaziabad
1  Chhavi   21  Bulandshahar
2   Kajal   25       Lucknow
3   David   28         Noida

        Name  Age         City
0  Divyanshi   20        Delhi
1    Avanshi   22  Bulandshahr
2     Rupesh   21        Delhi

DataFrame after adding a new row:

        Name  Age          City
0     Anjali   20     Ghaziabad
1     Chhavi   21  Bulandshahar
2      Kajal   25       Lucknow
3      David   28         Noida
4  Divyanshi   20         Delhi
5    Avanshi   22   Bulandshahr
6     Rupesh   21         Delhi

In [53]:
#Adding a new row at a specified index

data = {'Name': ['Anjali', 'Chhavi', 'Kajal', 'David'],
'Age': [20, 21, 25, 28],
'City': ['Ghaziabad', 'Bulandshahar', 'Lucknow', 'Noida']}
dataframe = pd.DataFrame(data)

print("Initial DataFrame:\n")
print(dataframe)

new_row = {'Name': 'Eva', 'Age': 24, 'City': 'Delhi'}

insert_index = 1.5 

dataframe.loc[insert_index]=new_row
dataframe = dataframe.sort_index().reset_index(drop=True)

print("\nDataFrame after adding a new row:\n")
print(dataframe)

Initial DataFrame:

     Name  Age          City
0  Anjali   20     Ghaziabad
1  Chhavi   21  Bulandshahar
2   Kajal   25       Lucknow
3   David   28         Noida

DataFrame after adding a new row:

     Name  Age          City
0  Anjali   20     Ghaziabad
1  Chhavi   21  Bulandshahar
2     Eva   24         Delhi
3   Kajal   25       Lucknow
4   David   28         Noida

In [43]:
#Updating single column

fruit_data = {"Fruit": ['Apple','Banana','Mango','Grape'],"Color":
['Red','Yellow','Yellow','Green'],
"Price": [45, 90, 37, 49]
}

data = pd.DataFrame(fruit_data)
print("Before Updating Column\n")
print(data)

data=data.rename(columns = {'Fruit':'Fruit Name'})
print("\nAfter Updating Column\n")
print(data)

Before Updating Column

    Fruit   Color  Price
0   Apple     Red     45
1  Banana  Yellow     90
2   Mango  Yellow     37
3   Grape   Green     49

After Updating Column

  Fruit Name   Color  Price
0      Apple     Red     45
1     Banana  Yellow     90
2      Mango  Yellow     37
3      Grape   Green     49

In [54]:
#Updating row values

fruit_data = {"Fruit": ['Apple','Banana','Mango','Grape'],"Color":
['Red','Yellow','Yellow','Green'],
"Price": [45, 90, 37, 49]
}

data = pd.DataFrame(fruit_data)
print("Before Updating Column\n")
print(data)

#Updating multiple columns
data=data.rename(columns = {'Fruit':'Fruit Name','Colour':'Color','Price':'Cost'})
print("\nAfter Updating Column\n")
print(data)

data.columns=data.columns.str.lower()
print("\nAfter again Updating Column\n")
print(data)

print("\nDisplay 4th row Value\n")
print(data.loc[3])
data.loc[3] = ['Pear','Green',50]
print("\nAfter Updating Values\n")
print(data)

data = pd.DataFrame(fruit_data)
print()
print(data.loc[3, ['Fruit']])

Before Updating Column

    Fruit   Color  Price
0   Apple     Red     45
1  Banana  Yellow     90
2   Mango  Yellow     37
3   Grape   Green     49

After Updating Column

  Fruit Name   Color  Cost
0      Apple     Red    45
1     Banana  Yellow    90
2      Mango  Yellow    37
3      Grape   Green    49

After again Updating Column

  fruit name   color  cost
0      Apple     Red    45
1     Banana  Yellow    90
2      Mango  Yellow    37
3      Grape   Green    49

Display 4th row Value

fruit name    Grape
color         Green
cost             49
Name: 3, dtype: object

After Updating Values

  fruit name   color  cost
0      Apple     Red    45
1     Banana  Yellow    90
2      Mango  Yellow    37
3       Pear   Green    50

Fruit    Grape
Name: 3, dtype: object

In [46]:
#Updating rows and columns based on condition

vegetable_data = {"Vegetable": ['Brinjal','Lady Finger','Capsicum'],"Color":
['Purple','Green','Light Green'],
"Price": [45, 90, 65]
}

data = pd.DataFrame(vegetable_data)
print("Original Dataset\n")
print(data)

data.loc[data['Price'] >60, 'Remarks'] = 'Expensive'
data.loc[data['Price'] <60, 'Remarks'] = 'Cheap'
print("\nAfter Updating Values\n")
print(data)

Original Dataset

     Vegetable        Color  Price
0      Brinjal       Purple     45
1  Lady Finger        Green     90
2     Capsicum  Light Green     65

After Updating Values

     Vegetable        Color  Price    Remarks
0      Brinjal       Purple     45      Cheap
1  Lady Finger        Green     90  Expensive
2     Capsicum  Light Green     65  Expensive